@using Charltone.UI.ViewModels.Home;
@model HomePageImageEditViewModel

@{
    ViewBag.Title = "Edit Home Page Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homepage">
    <div id="homedetail">
        <div id="homeeditbanner">
            Change Home Page Image
        </div>
        <div id="homeedituploadimage">
            @using (Html.BeginForm("UpdateHomePageImage", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div id="editphotosupload">
                    <div id="uploadaphoto">Upload an image <a class="homepagelink" href="@Url.Action("Index", "Home")">Back to Home</a></div>
                    <input type="file" name="file" id="file" />
                    <input type="submit" value="Upload"/>
                </div>
            }
        </div>
    </div>
    <div id="homepageimage">
        <img class="homepageimg" src=@Url.Action("GetHomePageImage", "Home") alt="" />
    </div>
</div>