@using Charltone.UI.ViewModels.Home;
@using Charltone.UI.Helpers;

@model HomeViewModel
@{
    ViewBag.Title = "Charltone Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        file.upload.init(function() {
             window.location.reload();
        });
    });
</script>

<div id="home">
    <div id="homecontent">
        <div id="homeuploadeditcontainer" class="@(Model.IsAuthenticated ? "admin" : "hidden")">
            <div id="homeupload">
                <input id="fileupload" type="file" name="files[]" data-url="Home/Upload">
            </div>
            <div id="progressbar"></div>
            <div id="homeeditlink">
                @Html.ActionLinkAuthorized("Edit", "Edit")
            </div>
        </div>

        <div id="homeintroduction">
            @Model.Introduction
        </div>
        <div id="homegreeting">
            @Model.Greeting
        </div>
        <div id="homeimage">
            <img src='~/Content/images/homepage.jpg' alt='' />
        </div>
    </div>
</div> 