@using Charltone.UI.ViewModels.Home;
@using Charltone.UI.Helpers;

@model HomeViewModel
@{
    ViewBag.Title = "Charltone About Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div id="homecontent">
        <div class="homeeditlink">
            @Html.ActionLinkAuthorized("Edit Greeting", "Edit")
            &nbsp
            @Html.ActionLinkAuthorized("Change Picture", "Photo")
        </div>
        <div id="homeintroduction">
            @Model.Introduction
        </div>
        <div id="homegreeting">
            @Model.Greeting
        </div>
        <div class="homeimage">
            <div id="homeimagecontainer">
                <img class="homeimage" src=@Url.Action("GetHomePageImage", "Home") alt="" />
            </div>
        </div>
    </div>
</div> 