
/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
#homepageimagecontainer {
    width: 830px;
    height: 520px;
    border: 1px solid #cea96d;
}
#txtPassword {
    width: 180px;
}
.validation-container {
    position: relative;
    color: red;
    padding: 0;
    margin-left: 10px;
    border-style: none;
    clear: both;
}
.validation-container li {
    display:list-item;
    font-size: 1.2em;
    padding: 0;
}
#admin-login-form {
    height: auto;
    color: #f0f0f0;
    font-size: 10pt;
    font-family: Helvetica;
}
#lnk-admin-login {
    color: #63411D;
    font-size: 1.9em;
    text-decoration: none;
    top: 2px;
}
#admin-login-cancel-button-container {
    position: relative;
    margin: 8px 0 8px 0;
}
.dialog-header h3 {
    padding: 0;
    font-size: 14pt;
    color: #cea96d;
}
/*.login-input {
    width: 100px;
    padding-bottom: 2px;
    float: left;
}*/
/*.login-label {
    padding-top: 3px;
    width: 100px;
    font-size: 1.4em;
    padding-bottom: 2px;
    float: left;
}*/
/*#dialog-image-form {
    position: relative;
}*/
/*.ui-block-dialog {
    font-family: Arial, Helvetica, sans-serif;
}
.ui-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-buttonpane {
    font-size: 10pt;
    padding: 0 0 0 0; 
}
.ui-widget {
    font-size: 9pt;
}*/
/*.ui-dialog-custom  {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: #FFFFFF;
    border: 1px solid #aaaaaa;
}*/
button {
    width: 75px;
    height: 30px;
    font-size: 8pt;
    font-weight: 200;
}
#commentshint
{
   position: relative;
   cursor:pointer;
   top: 35px; 
   color: #cea96d;
   font-size: .82em;
   padding-right: 5px;
}

#funfactshint
{
   position: relative;
   cursor:pointer;
   top: 35px; 
   color: #cea96d;
   font-size: .82em;
   padding-right: 5px;
}

.funfactstooltip
{
	margin:8px;
	padding:1px;
	border:1px solid #cea96d;
	background-color:#fff;
	position: absolute;
	z-index: 2;
}
.commentstooltip
{
	margin:8px;
	padding:1px;
	border:1px solid #cea96d;
	background-color:#fff;
	position: absolute;
	z-index: 2;
}
#adminlogonbanner
{
    color: #fff;
    position: relative;
    top: 20px;
    margin-left: 22px;
    margin-bottom: 20px;
    font-size: 1.3em;
}
#adminlogonpasswordlabel
{
    position: relative;
    color: #fff;
    margin-left: 25px;
    margin-right: 15px;
    margin-top: 33px;
    float: left;
}
#adminlogonpassword
{
    color: #fff;
    position: relative;
    margin-right: 15px;
    margin-top: 30px;
    float: left;
}
#adminpasswordvalidation
{
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    clear: both;
}
#adminlogon
{
    position: relative;
    background: url(Images/tools_large.jpg);
    width: 900px;
    height: 675px;
    clear: both;
}
#adminlinehorizontal
{
    position: relative;
    top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 850px;
}
.fieldset
{
    color: #fff;
    position: relative;
	border-color: #cea96d;
}
.legend
{
    color: #fff;
    position: relative;
}
#listaddnew
{
    margin-top: 5px;
    margin-bottom: 10px;
}
.fileinput
{
    width:260px;
}
#editphotos
{
    position: relative;
    background: url(Images/tools_large_4.jpg);
    width: 900px;
    height: 1000px;
}
#editphotoscontent
{
    position: relative;
    top: 20px;
    left: 25px;
    width: 800px;
}
#editphotosheader
{
    clear: both;
    color: #fff;
    font-size: large;
    margin-bottom: 10px;
}
#editphotosmodel 
{
    float: left;
    margin-right: 10px;
}
#editphotoslinehorizontal
{
    position: relative;
    width: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#editphotosmodeldesc
{
    font-style:italic;
}
#editphotosdetail
{
    position: relative;
    clear: both;
}
#editphotosmanage
{
    position: relative;
    left: 20px;
    width: 350px;
    float: left;
}
#editphotosdefault
{
    position: relative;
    float: left;
	margin-top: 35px;
}
#editphotosdefaultimg
{
    border: solid;
	border-width: 1px;
    border-color: #cea96d;
    height: 520px;
    width: 400px;
}
#editphotossave
{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
#editphotoslinks
{
    clear: both;
    position: relative;
    top: 10px;
    margin-bottom: 25px;
}
#editphotosupload
{
    position: relative;
    width: 800px;
    color: #fff;
}
#uploadaphoto
{
    clear: both;
    margin-bottom: 5px;
}
#editphotodefaultthumbnail
{
    margin-bottom: 10px;
    position: relative;
}
#editphotosthumbnail
{
    margin-top: 8px;
    width: 400px;
    position: relative;
}
.editlink
{
   font-size: 1.2em;
}
.thumbnail
{
    width: 90px;
    height: 90px;
    border-width: 2px;
    border-style: solid;
    border-color: #cea96d;
    margin-bottom: 2px;
}
.savebutton
{
    font-size: 1em;
    width: 100px;
    height: 30px;
}
#addphoto
{
    float: left;
    clear:right;
	margin-top: 50px;
}
#addinstrument
{
    background: url(Images/tools_large.jpg);
    clear: both;
    width: 900px;
    height: 2870px;
}
#deleteinstrument
{
    background: url(Images/tools_large_3.jpg);
    clear: both;
    width: 900px;
    height: 2870px;
}
#deleteconfirm
{
    position: relative;
    clear: both;
    top: 20px;
    font-size: 1.5em;
    color: #AC3219;
}
#editinstrument
{
    background: url(Images/tools_large.jpg);
    width: 900px;
    height: 2870px;
}
.editinstrcontainer
{
    position: relative;
    left: 25px;
    color: #ffffff;
}
.editinstrbuttons
{
    position: relative;
    margin-bottom: 20px;
    font-size: 1.2em;
}
.editinstrisposted {
    position: relative;
    float: right;
}
.editinstrinfo
{
    position: relative;
    margin-top: 40px;
    color: #fff;
    float: left;
}
.editinstrphoto {
    float: left;
}
.editinstrphotoimg
{
	border-style: solid;
    border-color: #cea96d;
    margin-top: 35px;
    margin-left: 50px;
    height: 240px;
    width: 180px;
}
.linehorizontal
{
    color: #cea96d;
    clear: both;
    border-top-style:dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.linevertical
{
    color: #cea96d;
    border-top: none;
    border-bottom: none;
    border-left: dotted;
    border-right: none;
}
.viewdetailslink
{
    font-size:1em;
    color: #7DA5D8;
    width: 250px;
}
#logo
{
    float: left;
    background: url(charltoneLogo.png);
    width:214px;
    height:74px;
    margin-top: 10px;
    margin-left: 30px;
}
#instrlistview
{
    position: relative;
    clear: both;
    background: url(Images/tools_large_2_dark.jpg);
    width: 900px;
}
#instrlistheader
{
    position: relative;
    margin-bottom: 20px;
    clear: both;
    font-size: 12pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif, "Palatino Linotype";
    color: #fff;
}
#instrlistviewcontent
{
    top: 20px;
    position: relative;
    margin-left: 33px;
}
#instrlistlinehorizontal
{
   position: relative;
   width: 835px;
   margin-bottom: 20px;
}
#listdetail
{
    width: 875px;
}
.listinfomodel
{
    position: relative;
    color: #fff;
    padding: 0;
    width: 250px;
    font-size: 13pt;
}
.listinfostatus
{
    position: relative;
    color: #fff;
    padding: 0;
    width: 250px;
    font-size: 11pt;
}
#orderingheadereditlnk
{
    font-size: 12pt;
}
#orderinglistlinehorizontal
{
    position: relative;
    width: 835px;
    margin: 8px 0 8px 0
}
#orderinglistviewcontent
{
    top: 20px;
    position: relative;
    margin-left: 33px;
    color: #fff;
}
#orderinglistviewheader .ui-accordion-content {
    margin: 0;
    width: 785px;
    color: #000000;
    background-color: #cea96d;
    font-size: 8pt;
}
#orderinglistviewheader .ui-accordion-header {
    width: 800px;
    background-color: #63411D;
    color: #f0f0f0;
    font-size: 9pt;
}
.orderingitemtable
{
    width: 840px;
    border-style:none;
    padding-bottom: 3px;
}
#orderingphoto
{
    border: solid;
    border-width: 1px;
    border-color: #cea96d;
    width: 115px;        /*   width & height: H = W * 1.3 */
    height: 150px;
}
.orderingtablecelllabel
{
    border-style:none;
    font-style: italic;
    vertical-align: text-top;
    padding: 0 0 0 0;
    padding-bottom: 5px;
    width: 95px;
}
.orderingtablecelllink
{
    font-size: 9pt;
    border-style:none;
    padding: 0;
    width: 150px;
}
#orderingtablecellphoto
{
    border-style:none;
    padding: 0 0 0 0;
    width: 125px;
}
.orderingtablecell
{
    border-style:none;
    padding: 0;
    vertical-align: text-top;
    font-size: 9pt;
}
#orderingphotoupload
{
    position: relative;
    margin-left: 30px;
    color: #fff;
}
#orderingphotouploadlabel
{
    position: relative;
    margin-left: 30px;
    color: #fff;
    clear:both;
}
#editordering
{
    background: url(Images/tools_large.jpg);
    width: 900px;
    height: 620px;
}
#deleteordering
{
    background: url(Images/tools_large.jpg);
    width: 900px;
    height: 620px;
}
#editorfieldorderingmodel
{
    width: 2em;
}
#listinfopostedmessage
{
    color: Red;
}
.listinfodetail
{
    color: #fff;
    font-size: 1em;
    padding: 0;
}
.listdefaultphoto
{
    border: solid;
    border-width: 2px;
    border-color: #cea96d;
    width: 260px;
    height: 320px;
    margin-bottom: 3px;
}
.listdialogimg {
    border: solid;
    border-width: 2px;
    border-color: #cea96d;
    width: 460px;
    height: 600px;
    margin-bottom: 3px; 
}

.left 
{
  margin-right: 53px;
}
.right 
{
  margin-left: 0px;
}
.left_wrapper 
{
  width: 285px;
  float: left;
  position: relative;
  z-index: 0;
}
.middle_wrapper 
{
  width: 285px;
  float: left;
  position: relative;
  z-index: 2;
}
.right_wrapper 
{
  width: 285px;
  float: left;
  position: relative;
  z-index: 1;
}
body
{
    background-color: #272722;
    font-size: 10pt;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h3 {
    margin: 0;
    padding: 0;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#header
{
    position: relative;
    height: 20px;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

/*   Gallery attributes - begin */

/* List page */
label#listavailable
{
    position: relative;
    color: #fff;
    padding: 0;
    width: 250px;
    font-size: 11pt;
}
label#listsold
{
    position: relative;
    color: Red;
    padding: 0;
    width: 250px;
    font-size: 11pt;
}
label#listnotforsale
{
    position: relative;
    color: #1d60ff;
    padding: 0;
    width: 250px;
    font-size: 11pt;
}
label#listinprogress
{
    position: relative;
    color: #00ff21;
    padding: 0;
    width: 250px;
    font-size: 11pt;
}

/* Detail page */
div#sold
{
    position: relative;
    margin-top: 10px;
    clear: both;
	color: Red;
	font-size: 14pt;
	width: 20px;
}
div#notforsale
{
    position: relative;
    margin-top: 10px;
    clear: both;
	color: Blue;
	font-size: 14pt;
    width: 120px;
}
div#inprogress
{    
    position: relative;
    margin-top: 15px;
    clear: both;
	color: #00ff21;
	font-size: 14pt;
    width: 120px;
}
.mainphoto
{
	border: solid;
	border-width: 2px;
    border-color: #cea96d;
    height: 420px;
    width: 320px;
}
#instrumentdetail
{
    background: url(Images/tools_large_2_dark.jpg) right no-repeat;
    position: relative;
    width: 900px;
    height: 675px;
}
#instrumentdetailcontent
{
    margin-left: 30px;
}
#instrdetaillinehoriztop
{
   position: relative;
   margin-top: 12px;
   width: 830px;
   height: 1px;
}
#instrdetailheader
{
    position: relative;
    color: #fff;
    clear: both;
}
#instrdetailmodel 
{
    margin-top: 15px;
    font-size: 1.6em;
    float: left;
    color: #cea96d;
}
#instrumentdetailprice
{
    font-size: 10pt;
    clear: both;
}
#instrumentinfo
{
    position: relative;
    margin-bottom: 20px;
    width: 900px;
    float: left;
}
#instrdetailinfoheader
{
    position: relative;
    left: 22px;
    font-size: 10pt;
    color: #cea96d;
}
#instrdetailmainphoto
{
    position: relative;
    top: 15px;
    margin-bottom: 10px;
    float: left;
}
#instrdetaillinevertical
{
   position: relative;
   margin-top: 20px;
   margin-left: 25px;
   float: left;
   height: 415px;
}
#instrdetailinfo
{
    position: relative;
    float: left;
    top: 20px;
	color: #fff;
}
#instrdetailinfolist
{
    list-style: none;
    font-size: 10pt;
    font-family: Arial;
    padding-left: 25px;
}
#instrdetailbacktolist
{
    position: relative;
    text-align: right;
    width: 828px;
    font-size: 12pt;
}
#backtolistlink
{
   position: relative;
   top: 35px; 
   font-size: .82em;
   font-style: normal;
   text-decoration: none;
   color: #7DA5D8;
}
#instrdetaillinehorizbottom
{
   position: relative;
   margin-top: 40px;
   width: 830px;
   height: 1px;
}
#instrdetailthumbnail 
{
    width: 920px;
	clear: both;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
}
#homepage
{
    position: relative;
    width: 900px;
    height: 675px;
    background: url(Images/tools_large.jpg) right no-repeat;
}
#homedetail
{
    position: relative;
    top: 40px;
    margin-left: 30px;
    margin-right: 15px;
}
#homebanner
{
    position: relative;
    font-size: 1.5em;
    color: #cea96d;
}
#homeeditbanner
{
    position: relative;
    font-size: 1.5em;
    color: #fff;
}
#homeedituploadimage
{
    position: relative;
    margin-top: 20px;
}
#homemessage
{
    position: relative;
    top: 10px;
    font-size: 1.1em;
    color: #fff;
}
.homepagelink
{
    position: relative;
    font-weight: bold;
    padding-bottom: 5px;
    color: #fff;
    font-size: 14px;
}
.homepageimg
{
    position: relative;
    width: 830px;
    height: 520px;
}
#homepageimage
{
    position: relative;
    margin-left: 30px;
    margin-top: 60px;
}
#aboutpage
{
    position: relative;
    width: 900px;
    height: 675px;
    background: url(Images/tools_large_2_dark.jpg) right no-repeat;
}
#aboutbanner
{
    position: relative;
    font-size: 2.2em;
    margin-left: 30px;
    top: 50px;
    margin-bottom: 40px;
    color: #cea96d;
}
#aboutmain
{
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    color: #fff;
    clear: both;
}
#aboutlinehorizontal
{
    position: relative;
    top: 50px;
    margin-left: 30px;
    width: 835px;
}
.aboutheader
{
    position: relative;
    clear: both;
    font-size: 18pt;
    color: #cea96d;
}
.aboutmessage
{
    position: relative;
    clear: both;
    font-size: 11pt;
    color: #fff;
}
#menubackground
{
    background: url(Images/tools.jpg) right no-repeat;
    height: 90px;
    width: 900px;
}
#main
{
    width: 100%;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    position: relative;
    margin: 0;
    text-align: right;
    font-size: 1.3em;
    background-color: transparent;
    
}

ul#menu li
{
    display: inline;
    list-style: none;
    background-color:transparent;
}

ul#menu li#greeting
{
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 10px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.4em;
    background-color:transparent;
    color: #fff;
}

ul#menu li a:hover
{
    background-color:transparent;
    text-decoration: none;
    color: #7DA5D8;
}

ul#menu li a:active
{
    background-color:transparent;
    text-decoration: none;
    color: #7DA5D8;
}

ul#menu li.selected a
{
    color: #7DA5D8;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  height: 100%;
  border: solid 1px #e8eef4;
  border-collapse: collapse;
  border-spacing: 0;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #272722;
  color: #fff;
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    position:relative;
    float: right;
    margin-top:40px;
    margin-right: 13px;
    display:inline;
    padding:0 13px 5px 0;
    text-transform:uppercase;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/

.display-label,
.editor-label
{
    margin: 0.5em, 0;
    margin-bottom: .3em;
}

.display-field,
.editor-field
{
    margin-bottom: 1em;
}

.text-box
{
    width: 355px;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
textarea#Model,
textarea#Top,
textarea#BackAndSides,
textarea#Binding,
textarea#Body, 
textarea#Neck,
textarea#Faceplate,
textarea#Fingerboard,
textarea#FretMarkers,
textarea#EdgeDots,
textarea#Bridge,
textarea#Finish,
textarea#Tuners,
textarea#PickGuard,
textarea#Pickup,
textarea#NutWidth,
textarea#ScaleLength,
textarea#CaseDetail,
textarea#Strings,
textarea#FretWire,
textarea#Dimensions
{
    position: relative;
    clear:both;
    width: 600px;
    height: 50px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Arial, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 1.1em;
}
textarea#Comments, textarea#FunFacts, textarea#TypicalPrice
{
    position: relative;
    clear:both;
    width: 600px;
    height: 100px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Arial, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
    font-size: 1.1em;
}
textarea#ContactMessage
{
    position: relative;
    width: 350px;
    height: 80px;
    border: 3px solid #cccccc;
    padding: 10px 0 0 0; 
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}

textarea#Summary,
textarea#Pricing,
textarea#PaymentOptions,
textarea#PaymentPolicy,
textarea#Shipping
{
    position: relative;
    width: 830px;
    height: 80px;
    border: 3px solid #cccccc;
    padding: 10px 0 0 0; 
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}
#contact
{
    position: relative;
    background: url(Images/faceplates_gradient.jpg) right no-repeat;
    width: 900px;
    height: 500px;
}
#contactmain
{
    margin-top: 40px;
    margin-left: 30px;
    clear: both;
    float: left;
    width: 650px;
    color: #fff;
}
#contactlinehorizontal
{
    margin-bottom: 10px;
    width: 650px;
}
#contactinfo
{
    position:relative;
    top: 10px;
    float:left;
    color: #fff;
    width: 400px;
}
#contactheader
{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 30px;
}
#getintouchheader
{
    position: relative;
    font-size: 1.4em;
    color: #fff;
    bottom: 20px;
    margin-top: 30px;   
}
#contactlinevertical
{
    position: relative;
    width: 10px;
    height: 300px;
    margin-bottom: 10px;
    float: left;
}
#getintouch
{
    margin-left: 40px;
    color: #fff;
    width: 180px;
    float: left;
}
#getintouchemail
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#getintouchcountry
{
    margin-top: 20px;
}
#contactguitarimg
{
    position: relative;
    top: 80px;
    height: 350px;
    width: 170px;
    float: left;
    margin-left: 20px;
    background: url(Images/torres_small.png) right no-repeat;
}
#contactemailconfirm
{
    color: #fff;
    font-size: 12pt;
}
#contactsend
{
    margin-top: 10px;
    position: relative;
    float: left;
}