/* Mixins */
.mainBorder {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
.gradients {
  background: -webkit-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* IE10 */
  background: -o-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* Opera 11.10+ */
  background: linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* W3C */
}
.paddingContent {
  padding: 5px 2px 20px 0;
}
.padingBody {
  padding: 51px 0 0 0;
}
/* Menu Logo */
#logo {
  background: url(logo_xs.png) no-repeat;
  width: 120px;
  /*214*/
  height: 41px;
  /*74*/
  margin: 4px 0 4px 0;
  margin-left: 35px;
  float: left;
}
/* Bootstrap */
.row {
  padding: 0 15px 5px 5px;
  margin-left: -5px;
}
.modal-open {
  padding-right: 0 !important;
}
.modal-dialog {
  width: 300px;
  height: 200px;
}
.navbar-header {
  background: url(images/tools.jpg) right no-repeat;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.navbar-header ul.nav.navbar-nav {
  font-size: 12pt;
  padding-right: 20px;
  float: right;
}
/* Primary Layout */
html {
  overflow-y: scroll;
}
body {
  padding: 51px 0 0 0;
  background-color: #272722;
  color: #ffffff;
  font-size: 10pt;
  font-family: "trebuchet ms", sans-serif;
  margin: 0;
}
label {
  margin: 0;
}
h2,
h3,
h4,
h5 {
  color: #cea96d;
  padding: 0;
}
a:link {
  color: #0385f3;
  text-decoration: none;
}
a:visited {
  color: #0385f3;
}
a:hover {
  color: #91ccfe;
  text-decoration: none;
}
textarea {
  position: relative;
  border: 2px solid #cea96d;
  padding: 2px;
  background-position: bottom right;
  background-repeat: no-repeat;
  font-size: 10pt;
  resize: none;
}
.page {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
/* jQuery ui */
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-tooltip {
  font-size: 10pt;
}
div#main {
  width: 100%;
  _height: 1px;
  /* only IE6 applies CSS properties starting with an underscore */
}
/* Main Menu */
div#menucontainer {
  float: right;
  margin: 40px 15px 0 0;
  display: inline;
  padding: 0 15px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 14pt;
}
div#menucontainer ul {
  text-align: right;
}
div#menucontainer ul li {
  display: inline;
  list-style: none;
}
div#menucontainer ul li a {
  padding: 10px 10px;
  text-decoration: none;
  color: #f0f0f0;
}
div#menucontainer ul li a:hover {
  text-decoration: none;
  color: #7da5d8;
}
/* The little dot above the "c" in "charltone" */
a#admin-login-link {
  position: absolute;
  color: #262626;
  font-size: 12pt;
  text-decoration: none;
  top: -2px;
}
/* Zoom */
div.dialogimg {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
/* Carousel */
div#carousel-container div#carousel-close {
  padding: 3px;
}
div#carousel-container div#carousel-close a {
  color: #9d9d9d;
  font-size: 18pt;
}
div#carousel-container div#carousel-close a:hover {
  cursor: pointer;
  color: #f0f0f0;
}
div#carousel-container div#instrCarousel {
  height: 785px;
}
div#carousel-container div#instrCarousel .carousel-inner {
  /*height: 785px;*/
}
div#carousel-container div#instrCarousel .carousel-inner h4,
div#carousel-container div#instrCarousel .carousel-inner h5 {
  margin: 0 0 5px 0;
  font-family: "trebuchet ms", sans-serif;
}
div#carousel-container div#instrCarousel .item {
  height: 785px !important;
  margin-bottom: -15px;
  background: #333;
  text-align: center;
}
div#carousel-container div#instrCarousel .item .carousel-caption h4 {
  color: #cea96d;
}
div#carousel-container div#instrCarousel .item .carousel-caption h5 {
  color: #f0f0f0;
}
div#carousel-container div#instrCarousel img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
/* Zoom */
div#zoom-dialog-container img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
/* File Upload */
div#progress {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
div#progress .bar {
  height: 18px;
  background: #0db239;
}
div#progress div#progressmsg {
  background-color: #3c2711;
  color: #ffffff;
}
/* Horizontal Line */
div.linehorizontal {
  color: #cea96d;
  border-top-style: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 0;
  clear: both;
}
/* Vertical Line */
div.linevertical {
  color: #cea96d;
  border-top: none;
  border-bottom: none;
  border-left: dotted;
  border-right: none;
}
div.linevertical#contact {
  position: relative;
  width: 10px;
  height: 300px;
  margin-bottom: 10px;
  float: left;
}
div.linevertical#instrdetail {
  position: relative;
  margin: 15px 0 0 15px;
  float: left;
  height: 448px;
}
/* Home */
div#home {
  background: -webkit-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* IE10 */
  background: -o-linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* Opera 11.10+ */
  background: linear-gradient(180deg, #090806 10%, #3b2713 100%);
  /* W3C */
  padding: 5px 2px 20px 0;
  padding-top: 10px;
}
div#home img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  width: 840px;
  height: 530px;
}
div#home h4 {
  font-size: 16pt;
  padding: 0;
  margin: 5px 0 5px 0;
}
div#home img {
  margin-top: 8px;
}
/* Home Edit */
div#homeedit {
  background-image: url(images/tools_large.jpg);
  padding: 5px 2px 20px 0;
  padding-top: 10px;
}
div#homeedit h3 {
  margin: 0;
  padding: 0;
}
div#homeedit textarea#Greeting {
  height: 120px;
}
/* About */
div#about {
  background: url(images/tools_large_2_dark.jpg) repeat;
  padding: 5px 2px 20px 0;
  padding-top: 10px;
}
div#about h3 {
  font-size: 14pt;
  margin: 5px 0 5px 0;
}
/* About Edit */
div#aboutedit {
  background: url(images/tools_large.jpg);
  padding: 5px 2px 20px 0;
  padding-top: 10px;
}
div#aboutedit h3 {
  margin: 0;
  padding: 0;
}
div#aboutedit textarea {
  height: 150px;
}
/* Instruments */
div#instrlist {
  background: url(images/tools_large_2_dark.jpg);
  padding: 5px 2px 20px 0;
  line-height: 1.5em;
}
div#instrlist div#instrlist-banner {
  margin: -3px 0 -10px 0;
}
div#instrlist div#instrlist-banner h4 {
  font-size: 12pt;
  color: #f0f0f0;
}
div#instrlist div#instrlist-item button {
  float: right;
  margin: 3px;
}
div#instrlist div#instrlist-item a.link {
  float: right;
  margin-right: 3px;
}
div#instrlist div#instrlist-item a:hover {
  cursor: pointer;
}
div#instrlist div#instrlist-item h4 {
  margin: 2px 0 -3px 0;
  font-size: 13pt;
  padding: 0;
}
div#instrlist img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  width: 260px;
  height: 320px;
}
/* Instrument Edit */
div#instredit {
  padding: 5px 2px 20px 0;
  padding-top: 0;
  background: url(images/tools_large.jpg);
}
div#instredit button {
  margin: 0 0 10px 0;
}
div#instredit img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  width: 260px;
  height: 338px;
}
div#instredit input[type=checkbox][id=IsPosted] {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}
div#instredit textarea {
  height: 100px;
}
/* Instrument Detail */
#instrdetail {
  padding: 5px 2px 20px 0;
  padding-top: 8px;
  padding-bottom: 10px;
  background: url(images/tools_large_2_dark.jpg);
}
#instrdetail .row {
  padding-bottom: 0;
}
#instrdetail button {
  margin-top: 1px;
}
#instrdetail label {
  width: auto;
}
#instrdetail h4 {
  padding: 0;
  margin: -2px 0 0 0;
}
#instrdetail h5 {
  margin: 3px 0 5px 10px;
  font-size: 14pt;
}
#instrdetail img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  margin-bottom: 5px;
  width: 346px;
  height: 450px;
}
#instrdetail ul {
  padding: 0;
  margin: 0 0 0 15px;
}
#instrdetail ul label {
  color: #f0f0f0;
  font-style: italic;
}
#instrdetail li {
  margin-left: -5px;
  width: 455px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
#instrdetail div.linehorizontal {
  margin: 5px 0 10px 0;
}
#instrdetail div.linevertical {
  margin: 0 0 0 -5px;
  height: 445px;
}
#instrdetail div#instrdetailthumbnailcontainer {
  padding-left: 15px;
}
#instrdetail div#instrdetailthumbnailcontainer .instrdetailthumbnail {
  padding-right: 14px;
  float: left;
}
#instrdetail div#instrdetailthumbnailcontainer .instrdetailthumbnail img {
  width: 92px;
  height: 120px;
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
}
#instrdetail div#instrdetailthumbnailcontainer .instrdetailthumbnail .thumbnailbutton {
  width: 23px;
  height: 23px;
  padding: 2px;
}
/* Ordering */
div#ordering {
  background: url(images/tools_large_2_dark.jpg);
  padding: 5px 2px 20px 0;
  padding-top: 0;
}
div#ordering .panel-group {
  color: #000000;
  margin: 10px 0 0 0;
}
div#ordering .panel-group .panel-default {
  margin-top: 2px;
}
div#ordering .panel-group .panel-default .panel-heading {
  padding: 10px;
  background-color: #63411d;
  background-image: none;
}
div#ordering .panel-group .panel-default .panel-heading h4 {
  font-size: 10pt;
}
div#ordering .panel-group .panel-default .panel-heading h4.panel-title a:link.collapsed {
  color: #9d9d9d;
}
div#ordering .panel-group .panel-default .panel-heading h4.panel-title a:link:not(.collapsed) {
  color: #ffffff;
}
div#ordering .panel-group .panel-default .panel-heading h4.panel-title a:link:hover {
  color: #ffffff;
}
div#ordering .panel-group div.panel-body {
  padding: 0;
  background-color: #cea96d;
  color: #000000;
}
div#ordering .panel-group div.panel-body p {
  margin: 10px 15px 10px 15px;
  font-size: 9pt;
}
div#ordering button {
  margin: 12px 0 -5px 0;
}
div#ordering p {
  margin: 5px 0 0 0;
}
div#ordering img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  width: 115px;
  /*   width & height: H = W * 1.3 */
  height: 150px;
}
div#ordering div#label {
  font-style: italic;
  margin-left: -15px;
  height: 150px;
}
div#ordering div#label div#buttons {
  padding-top: 26px;
  font-style: normal;
}
div#ordering div#text {
  margin-left: -50px;
  width: 630px;
}
div#ordering div.linehorizontal {
  padding: 0;
  margin: 5px 0 5px 0;
}
div#ordering h4 {
  padding: 0;
  font-size: 13pt;
}
/* Ordering Edit */
div#orderingredit {
  background: url(images/tools_large.jpg);
  padding: 5px 2px 20px 0;
  padding-top: 0;
}
div#orderingredit button {
  margin: 0 0 10px 0;
}
div#orderingredit img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  width: 215px;
  height: 280px;
}
div#orderingredit input[type=checkbox][id=IsPosted] {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}
div#orderingredit textarea#TypicalPrice {
  height: 50px;
}
div#orderingredit textarea#Comments {
  height: 120px;
}
/* Ordering Summary Edit */
div#orderingsummaryedit {
  background: url(images/tools_large.jpg);
  padding: 5px 2px 20px 0;
  padding-top: 10px;
}
div#orderingsummaryedit textarea {
  height: 150px;
}
div#orderingsummaryedit img {
  border: solid;
  border-width: 2px;
  border-color: #cea96d;
  height: 220px;
  width: 175px;
}
div#orderingsummaryedit h3 {
  margin: 0;
  padding: 0;
}
/* Contact */
div#contact {
  background: url(images/faceplates_gradient.jpg) right no-repeat;
  padding: 5px 2px 20px 0;
}
div#contact div#get-in-touch {
  margin-left: -40px;
}
div#contact div.linevertical {
  margin: 0;
  height: 315px;
}
div#contact div.linehorizontal {
  margin: 0;
  padding: 0 0 8px 0;
}
div#contact input[type=textbox] {
  width: 400px;
}
div#contact h4 {
  color: #f0f0f0;
}
div#contact button {
  width: 80px;
}
div#contact img {
  top: 80px;
  height: 350px;
  width: 170px;
  float: left;
  margin-left: 20px;
  background: url(images/torres_small.png) right no-repeat;
}
div#contact textarea {
  width: 400px;
  height: 80px;
}
/* Admin Login Validation */
div#validation-container {
  border-style: none;
  clear: both;
}
div#validation-container li {
  display: list-item;
  list-style-type: none;
}
/*# sourceMappingURL=site.css.map */