<div id='admin-login-form' hidden>
    <div id='admin-login-title'><h3>Admin User</h3></div>
    <div id='admin-login-credentials'>
        <div>
            <div><input type='password' id='txtPassword' maxlength=20 /></div>
        </div>
    </div>
    <div id='admin-login-cancel-button-container'>
        <span id='login-button'>
            <button id='btnLogInAdmin' type='button'>Log In</button>
        </span>
        <span id='cancel-button'>
            <button id='btnCancelAdminLogin' type='button'>Cancel</button>
        </span>
    </div>
    <div id='validation-container'></div>
</div>
