<div id='admin-login-form' hidden>
    <div id='admin-login-title'><h3>Admin User</h3></div>
    <div id="admin-password-container">
        <input class='form-control' type='password' id='txtPassword' maxlength=20 />
    </div>
    <div id='admin-login-cancel-button-container'>
        <span id='login-button'>
            <button class='btn btn-primary btn-sm' id='btnLogInAdmin' type='button'>Log In</button>
        </span>
        <span id='cancel-button'>
            <button class='btn btn-default btn-sm' id='btnCancelAdminLogin' type='button'>Cancel</button>
        </span>
    </div>
    <div id='validation-container'></div>
</div>
