<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yew.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>test.charltone.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>testcharltonecom_adm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NHibernateConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=localhost;Initial Catalog=Charltone_Test;User ID=john;Password=abc123-" Name="Server=localhost;Database=Charltone_Test;User Id=john;Password=abc123-;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEV1;Initial Catalog=Charltone;User ID=webuser;Password=abc-" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NHibernateConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEV1;Database=Charltone;User Id=webuser;Password=abc-;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NHibernateConnectionString-Web.config Connection String">
      <ParameterValue>Server=localhost;Database=Charltone_Test;User Id=john;Password=abc123-;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>