@using Charltone.Repositories;
@using Charltone.ViewModels.Products;
@using Charltone.ViewModels.Mapping;

@model ProductListViewModel<ProductInfo>

@{
    ViewBag.Title = "Charltone Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.TotalItemsCount Instruments In Stock</h3>

<table>
    <tr>
        <th>
            ProductType
        </th>
    </tr>

    @foreach (var info in Model.ProductInfo) 
    {
        <tr>
            <td>
                @Html.ActionLink(info.ProductType, "Photo", new { id = info.Id })
            </td>
        </tr>
    }

</table>